<% provide(:title, t(".title")) %>
<div class="page-header">
	<h1>grub.kz - проект от Amanat Labs</h1>
</div>

<p class="lead">
	Сервис grub.kz был создан молодой командой интернет специалистов. Сейчас мы активно работаем над интеграцией новых заведений и городов и разрабатываем мобильные приложения.
</p>
<p class="lead">
  Будем рады любым вашим вопросам и комментариям в <a href="https://www.facebook.com/grub.kz" target="_blank">фэйсбуке</a>, <a href="https://twitter.com/grubkz" target="_blank">твиттере</a> и <a href="http://vk.com/public45664614" target="_blank">вконтакте</a>.
</p>
