<div class="page-header">
	<h1>grub.kz - Ваш долгожданный партнер</h1>
</div>

<p class="lead">Миллионы интернет пользователей Казахстана могут быть Вашими клиентами. Отправьте нам email на partners@grub.kz информацию о Вашем заведении и контактные данные и мы с Вами сразу же свяжемся.</p>
<p>
  <a class="btn btn-primary btn-large">
    Напишите нам
  </a>
</p>
