<% provide(:title, t(".title")) %>
<div class="page-header">
  <h1><%= t('.faq') %></h1>
</div>

<dl>
	<dt>Сколько стоит заказать на grub.kz?</dt>
  <dd>Сервис абсолютно бесплатен. Вы платите за еду и доставку, а удобство интернет заказа совершенно бесплатно. :)</dd>

  <dt>Что можно заказать на grub.kz?</dt>
  <dd>Пиццу, суши, китайскую еду и все что вы сможете найти на этом сайте. :)</dd>

  <dt>Что значит минимальный заказ?</dt>
  <dd>Минимальный заказ это минимальная сумма за которую заведение готово реализовать заказ.</dd>

  <dt>Почему мой заказ так и не доставили?</dt>
  <dd>Мы гарантируем, что Ваш заказ получен заведением. Реализация заказа и доставка еды есть обязательство заведения.</dd>

  <dt>Откуда берется рейтинг заведений?</dt>
  <dd>Рейтинги основаны на оценках которые оставляют наши пользователи.</dd>

  <dt>Есть ли онлайн оплата?</dt>
  <dd>К сожелению, на данный момент возможна лишь оплата наличными деньгами при доставке.</dd>
</dl>