<% provide(:title, t("navigation.main_title")) %>
<div class="center hero-unit">
  <h1>Grab your grub at grub.kz!</h1>

  <h2>
    grub.kz is a free service that keeps you fed!
  </h2>

  <%= link_to "Sign up now!", "/#", class: "btn btn-large btn-primary" %>
</div>