<h3>Your order</h3>
<table class="table">
	<thead>
		<tr>
			<th>Qty</th>
			<th>Item</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<%= render @cart.line_items %>
		
		<tr>
			<td colspan="2">Total</td>
			<td><%= number_to_currency(@cart.total_price) %></td>
		</tr>
	</tbody>

</table>

<%= button_to "Empty cart", @cart, method: :delete,
			confirm: "Are you sure?", remote: true, class: "btn btn-danger btn-small" %>

<%= button_to "Check out", @cart, method: :delete,
			confirm: "Are you sure?", remote: true, class: "btn btn-success btn-small" %>