<div class="row">
  <% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant-row">
      <%= link_to "", restaurant %>
      <%= render restaurant %>
    </div>
  <% end %>
  <% else %>
  	<h3> <%= t('navigation.no_restaurants') %></h3>
  <% end %>
</div>