<div class="row">
  <!-- <legend data-intro='Welcome to grub.kz!' data-step='2'> -->
  <legend>
    <%=t '.title', count: @restaurants.count %>
  </legend>
</div>

<div class="row">
  <% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant-row">
      <%= link_to "", restaurant %>
      <%= render restaurant %>
    </div>
  <% end %>
  <% else %>
  	<h3> <%= t('navigation.no_restaurants') %></h3>
  <% end %>
</div>