<footer class="footer">
  <div class="container">
    <small>
      <a href="http://grub.kz/">grub.kz</a>
      by <a href="http://amanatlabs.com/">Amanat Labs</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to t("navigation.about"),   '#' %></li>
        <li><%= link_to t("navigation.contact"), '#' %></li>
        <li><%= link_to t("navigation.help"), help_path %></li>
        <li><a href="http://blog.grub.kz/"><%= t("navigation.news") %></a></li>
      </ul>
    </nav>
  </div>
</footer>