<footer class="footer">
  <small>
    <a href="http://grub.kz/">grub.kz</a>
    by Amanat Labs
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://blog.grub.kz/">News</a></li>
    </ul>
  </nav>
</footer>